@page "/"
@inject IChallengeRepository ChallengeReposiory
@inject NavigationManager NavigationManager;

@if (Challenges == null)
{
    <h3>Loading...</h3>
}
else
{
    <ul>
        @foreach (var challenge in Challenges)
        {
            <ChallengeComponent challenge="challenge"></ChallengeComponent>
        }
    </ul>
}

<button class="oi oi-pencil" @onclick="CreateNewChallenge">Create New Challange</button>


@code {
    List<Challenge> Challenges = new();

    protected override async Task OnInitializedAsync()
    {
        Challenges = await ChallengeReposiory.GetAllChallenges();
    }

    public void CreateNewChallenge()
    {
        NavigationManager.NavigateTo("/Challenge");
    }
}
